<h2>Details</h2>

<div *ngIf="character | async as character">
  <div>
    <h2>{{ character.name }}</h2>
  </div>
  <div>
    <div class="character-image">
      <img [src]="character.image" [title]="character.name" alt="img" />
    </div>
    <div>
      <p>Status: {{ character.status }}</p>
      <p>Species: {{ character.species }}</p>
      <p>Type: {{ character.type }}</p>
      <p>Gender: {{ character.gender }}</p>
    </div>
  </div>

  <h1>Episodes</h1>
  <ul>
    <li *ngFor="let episode of character.episode">{{ episode }}</li>
  </ul>
</div>
